@use "@/styles/fonts" as fonts;

.notes {
  display: grid;
}

.title {
  @include fonts.text-title;
  font-weight: 800;
  color: var(--text);
  padding-bottom: 1vh;
}

.box {
  @include fonts.text-body;

  width: 100%;
  padding: 1.5vh 1.5vh;     
  background: var(--muted);
  border: none;
  color: var(--text);
  border-radius: 8px;
  outline: none;

  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.55;
  margin: 0;
}
