$primary: #FF2097;     
$secondary: #FF70BB; 
$accent: #FFAEE1;    
$outline: #E2E2E2;        
$background: #ffffff;    
$text: #000000;          
$muted: #F7F7F7;         

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --accent: #{$accent};
  --outline: #{$outline};
  --background: #{$background};
  --text: #{$text};
  --muted: #{$muted};
}

// https://www.realtimecolors.com/?colors=000b1f-f5f8ff-0090ff-f996ff-ff2097&fonts=Inter-Inter
