@use './_variables.scss';
@use './_fonts.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-onest), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
