@use './_variables.scss';
@use './_fonts.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-onest), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Add left padding for desktop navbar
  @media (min-width: 1024px) {
    padding-left: 80px; 
    padding-right: 4vh;
  }
}

html, body, * {
  -ms-overflow-style: none;   /* IE/old Edge */
  scrollbar-width: none;      /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;              
  width: 0;
  height: 0;
}