.nav {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: 60px;
  padding-bottom: max(8px, env(safe-area-inset-bottom));
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  backdrop-filter: blur(10px) saturate(100%);

  background-color: rgba(255, 255, 255, 0.50);

  padding-left: 4vh;
  padding-right: 4vh;

}

.item {
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  padding-top: 1vh;
  border-radius: 9999px;
  -webkit-tap-highlight-color: transparent;
  transition: background-color .18s ease, transform .12s ease;

  &:active { transform: translateY(1px) scale(.98); }
}

.icon {
  width: 18px;
  height: 18px;
  display: block;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.avatarPlaceholder {
  width: 18px;
  height: 18px;
  border-radius: 9999px;
  background: radial-gradient(circle at 30% 30%, black);
}
